# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_*
**/*.backup.*
**/*.back.*

# testing
/coverage

# production
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode